@* *@
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This is the About Us page for the NoFlowEngine application.</p>

<div>
    <h2>Our Team</h2>
    <ul>
        <li>Developer 1</li>
        <li>Developer 2</li>
        <li>Developer 3</li>
    </ul>
</div>

<div>
    <h2>Our Goal</h2>
    <p>To provide a platform that solve flow and reduce software complexity</p>
</div>